# Git and IDE
.git
.vscode/


# Python cache and environment

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env


# ML Training Artifacts & Data 

Injury_risk_prediction/mlruns/
Injury_risk_prediction/mlflow.db





